<table>
    <%= form_tag(controller:"blogs", action:"index") do %>
    <tr><th>FIND</th>
        <td><%= text_field_tag("find") %></td></tr>
    <tr><th></th>
        <td><%= submit_tag("検索") %></td></tr>
    </tr>
    <% end %>
</table>
<hr>
<table>
    <% @search.each do |obj| %>
    <tr>
        <th>タイトル:</th><td><td><%=link_to(obj.title, "/blogs/#{obj.id}") %></td>
        <th>ジャンル:</th><td><%= obj.content %></td>
    </tr>
    <% end %>
</table>



<%= form_tag(controller:"blogs", action:"index") do %>
<%= select_tag(:id, options_for_select([["新しい順","新しい順"],["古い順","古い順"]])) %>
<%= submit_tag "絞り込み" %>
<% end %>




    <% @data.each do |obj| %>
    <h3 class="top_title"><a href="/blogs/show/<%= obj.id %>">
        <%= obj.title %></a></h3>
    <p class="top_read"><%= obj.read %><span class="top_created">
        (<%= obj.created_at %>)</span></p>
    <hr>
<% end %>
<div class="navigate">
    <% if @page_num > 0 then %>
        <a href="/blogs/<%= @page_num - 1 %>">＜＜前のページ</a>
    <% end %>
    <span></span>
    <a href="/blogs/<%= @page_num + 1 %>">次ページ＞＞</a>
</div>


